# Container on the rmu-platform Docker network (make docker-run / docker-run.sh). Copy to .env.docker.
# Requires the infrastructure started from rmu-platform (network rmu-network).
# In the full Compose stack (COMPOSE_PROFILES=infrastructure,apis) these values are injected by
# rmu-platform/compose.yaml and this file is not used.
PORT=3011

RMU_MONGO_MEDIA_URI=mongodb://admin:admin@rmu-mongo:27017/rmu-media?authSource=admin

RMU_KAFKA_CLIENT_ID=rmu-api-media
RMU_KAFKA_CONSUMER_GROUP_ID=rmu-api-media-consumer
RMU_KAFKA_DEFAULT_PARTITIONS=1
RMU_KAFKA_BROKERS=rmu-kafka-broker:9092

RMU_IAM_JWK_URI=http://rmu-keycloak:8080/realms/rmu/protocol/openid-connect/certs
RMU_IAM_TOKEN_URI=http://rmu-keycloak:8080/realms/rmu/protocol/openid-connect/token
RMU_IAM_CLIENT_ID=rmu-client
RMU_IAM_CLIENT_SECRET=changeit

RMU_MEDIA_S3_REGION=eu-west-1
RMU_MEDIA_S3_BUCKET=rmu-static-assets-pro
RMU_MEDIA_S3_BASE_FOLDER=rmu-mfe-assets
RMU_MEDIA_S3_ACCESS_KEY_ID=aws-key-id
RMU_MEDIA_S3_SECRET_ACCESS_KEY=aws-secret-access-key
RMU_MEDIA_S3_FORCE_PATH_STYLE=true
RMU_MEDIA_IMAGE_MAX_WIDTH=2048
RMU_MEDIA_S3_PUBLIC_BASE_URL=https://assets.labcabrera.com/

LOG_LEVEL=debug
