PORT=3011

RMU_MONGO_CORE_URI=mongodb://admin:admin@localhost:27017/rmu-core?authSource=admin

RMU_KAFKA_CLIENT_ID=rmu-api-core
RMU_KAFKA_CONSUMER_GROUP_ID=rmu-api-core-consumer
RMU_KAFKA_DEFAULT_PARTITIONS=1
RMU_KAFKA_BROKERS=localhost:9092

RMU_IAM_JWK_URI=http://localhost:8090/realms/rmu-local/protocol/openid-connect/certs
RMU_IAM_TOKEN_URI=http://localhost:8090/realms/rmu-local/protocol/openid-connect/token
RMU_IAM_CLIENT_ID=rmu-client
RMU_IAM_CLIENT_SECRET=1tUzPc24SYJMPpX37g2eymEoS9C3Ttzw

RMU_MEDIA_S3_REGION=eu-west-1
RMU_MEDIA_S3_BUCKET=rmu-media
RMU_MEDIA_S3_ENDPOINT=http://localhost:9000
RMU_MEDIA_S3_PUBLIC_BASE_URL=http://localhost:9000/rmu-media
RMU_MEDIA_S3_ACCESS_KEY_ID=minioadmin
RMU_MEDIA_S3_SECRET_ACCESS_KEY=minioadmin
RMU_MEDIA_S3_FORCE_PATH_STYLE=true
RMU_MEDIA_IMAGE_MAX_WIDTH=2048

LOG_LEVEL=debug
